@import "./common.scss";

.header {
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 20px;
    padding: 30px 60px;
    box-sizing: border-box;

    h1 {
        text-align: center;
    }

    ul {
        font-size: 15px;
    }
}

body {
    font-family: monospace;
    background: linear-gradient(0deg, $primary 0.03%, $accent); //přeliv barev
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}