@import "./common.scss";

.header {
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px 60px;
    box-sizing: border-box;

    h1 {
        text-align: center;
    }

    ul {
        font-size: 16px;
        width: 350px;
        padding-left: 10px; // změna defaultního okraje 
        line-height: 1.5;
    }

    li {
        margin-left: 0; 
    }

    button {
        background: linear-gradient(0deg, $primary 0.03%, $accent);
        border-radius: 9px;
        font-size: 18px;
        color: $bg;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;
        margin: 0 auto; // aby bylo tlačítko uprostřed
        display: block; 
    }
}



body {
    font-family: monospace;
    background: linear-gradient(0deg, $primary 0.03%, $accent); //přeliv barev
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}